@page "/settings/games/"
@inherits PokerBaseComponent

<PageTitle>Settings - Games</PageTitle>

<AlertComponent AlertIsVisible="@AlertIsVisible" Message="@Message" AlertMessageType="@MessageType" />

<div class="row">
    <div class="col-4">
        <div class="row mb-3">
            <label for="title" class="col-sm-3 col-form-label">Season</label>
            <div class="col-sm-9">
                <InputSelect @bind-Value="@SelectedSeasonId" @bind-Value:after="FilterGrid" class="form-control">
                    <option>Filter by Season...</option>
                    @if (Seasons != null)
                    {
                        foreach (Season season in Seasons)
                        {
                            <SelectItem Value="@season.Id">@season.SeasonName</SelectItem>
                        }
                    }
                </InputSelect>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mb-3">
            <label for="title" class="col-sm-3 col-form-label">Game Type</label>
            <div class="col-sm-9">
                <InputSelect @bind-Value="@SelectedGameTypeId" @bind-Value:after="FilterGrid" class="form-control">
                    <option>Filter Game Type...</option>
                    @if (GameTypes != null)
                    {
                        foreach (GameType gameType in GameTypes)
                        {
                            <SelectItem Value="@gameType.Id">@gameType.GameTypeName</SelectItem>
                        }
                    }
                </InputSelect>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row mb-3">
            <label for="title" class="col-sm-3 col-form-label">Venue</label>
            <div class="col-sm-9">
                <InputSelect @bind-Value="@SelectedVenueId" @bind-Value:after="FilterGrid" class="form-control">
                    <option>Filter by Venue...</option>
                    @if (Venues != null)
                    {
                        foreach (Venue venue in Venues)
                        {
                            <SelectItem Value="@venue.Id">@venue.VenueName</SelectItem>
                        }
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</div>

<div class="row">
<LoadingIndicator @bind-Visible="gridLoading">
    <DataGrid TItem="Game" Data="@Games" @bind-SelectedRow="@selectedGame" Responsive PageSize="10" Hoverable ShowPager>
        <DataGridColumns>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(Game.GameTitle)" Caption="Game" />
            <DataGridColumn Field="@nameof(Game.GameDateTime)" Caption="Game Date" DisplayFormat="{0:g}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("en-GB")" />
            <DataGridColumn Field="GameType.GameTypeName" Caption="Game Type" />
            <DataGridColumn Field="Venue.VenueName" Caption="Venue" />
        </DataGridColumns>
        <ButtonRowTemplate>
            <Button Color="Color.Primary" Clicked="CreateNew">New</Button>
            <Button Color="Color.Secondary" Disabled="(selectedGame is null)" Clicked="(() => Edit(selectedGame!.Id))">Edit</Button>
        </ButtonRowTemplate>
    </DataGrid>
</LoadingIndicator>
</div>