@page "/settings/players/"
@inherits PokerBaseComponent

<PageTitle>Settings - Players</PageTitle>

<AlertComponent AlertIsVisible="@AlertIsVisible" Message="@Message" AlertMessageType="@MessageType" />

<LoadingIndicator @bind-Visible="gridLoading">
    <DataGrid TItem="Player" Data="@Players" @bind-SelectedRow="@selectedPlayer" Responsive PageSize="10" Hoverable ShowPager>
        <DataGridColumns>
            <DataGridCommandColumn />
            <DataGridColumn Field="@nameof(Player.FirstName)" Caption="Player" />
            <DataGridColumn Field="@nameof(Player.LastName)" Caption="Start Date" DisplayFormat="{0:d}" DisplayFormatProvider="@System.Globalization.CultureInfo.GetCultureInfo("en-GB")" />
        </DataGridColumns>
        <ButtonRowTemplate>
            <Button Color="Color.Primary" Clicked="CreateNew">New</Button>
            <Button Color="Color.Secondary" Disabled="(selectedPlayer is null)" Clicked="(() => Edit(selectedPlayer!.Id))">Edit</Button>
        </ButtonRowTemplate>
    </DataGrid>
</LoadingIndicator>
